@import "tailwindcss";

@layer components {
  .container {
    background: #011e40;
  }

  .normalButton {
    color: white;
    background: #1283c4;
  }
  .closeButton{
    color: white;
    background: #c41212;
    border-radius: 10px;
  }
  .closeButton:hover{
    background: #a80e0e;
    color: rgb(233, 233, 233);
  }
  .normalButton:hover{
    background: #0e6ba8;
    color: rgb(233, 233, 233);
  }

}

h2 {
  color: #ededed;
}

body {
  color: #ededed;
  background: #00142b;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  color: black;
  background: #ededed
}